@tailwind base;
@tailwind components;
@tailwind utilities;

.button:hover {
  border-color: var(--color-primary);
  box-shadow: var(--border-shadow), var(--level-shadow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[data-theme="dark"] {
  background: black;
}

#starfield {
  z-index: -10000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
