<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title(@site, @meta) %></title>
    <meta name="description" content={@site.description} />
    <link rel="stylesheet" href={"/assets/css/app.css"} />
  </head>
  <body class="h-screen w-screen bg-white">
    <nav class="bg-blue-500 p-4">
      <div class="flex justify-between items-center">
        <h1 class="text-white text-2xl font-bold">全局导航栏</h1>
        <a href="/posts" class="text-white hover:text-gray-300">Posts</a>
      </div>
    </nav>
    <main>
      <h2><%= @meta[:title] %></h2>
      <%= @inner_content %>
    </main>
    <footer>
      <!-- 全局页脚 -->
    </footer>
  </body>
</html>