<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title(@site, @meta) %></title>
    <meta name="description" content={@site.description} />
    <link rel="stylesheet" href={"/assets/css/nordstjerna.css"} />
    <link rel="stylesheet" href={"/assets/css/output.css"} />
  </head>
  <body class="body h-screen w-screen" data-theme="light">
    <canvas id="starfield"></canvas>
    <.nav links={[{"Articles", "/articles"}, {"About", "/about"}]} site={@site} />
    <main class="p-4">
      <%= @inner_content %>
    </main>
    <footer>
      <!-- 全局页脚 -->
    </footer>
    <script src={"/assets/js/star.js"}></script>
  </body>
</html>
